<alert type='success' close='vm.closeLogoutFlash()' ng-if='vm.logoutFlash' dismiss-on-timeout='2000'>
  Successfully logged out.
</alert>

<div class='jumbotron'>
  <h1>Tango</h1>
  <p>Thinking is difficult.<p>
  <ol>
    <li>Because you need back-and-forth, and it's hard to get that by yourself.</li>
    <li>Because it's hard to keep track of the nested structure of your logic.</li>
  </ol>
  <p>Tango intends to help mitigate these problems.</p>
</div>

<iframe width="640" height="360" src="https://www.youtube.com/embed/ImE6-3GuvhE?start=645" frameborder="0" allowfullscreen></iframe>

<hr />

<div ng-hide='vm.currentUser._id'>
  <p>Log in or register with:</p>
  <a ng-click='vm.facebook()' class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
  <a ng-click='vm.twitter()' class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
  <a ng-click='vm.google()' class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
</div>
<br />
