body {
  margin-bottom: 25px;
}

a, .glyphicon {
  cursor: pointer;
}

.bullet {
  cursor: auto !important;
}

// inputs have solid gray outline instead of blue
input:focus, textarea:focus {
  outline: none;
  border-color: gray;
}

.alert {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 1px;
}

// sims
.sims {
  border: 1px solid lightGray;
  padding: 5px;
  width: 650px;

  label {
    font-weight: normal;
  }
  input {
    margin-bottom: 5px;
    padding: 4px 8px;
    border: 1px solid gray;
  }
  .sim-name {
    width: 5em;
    margin-right: 5px;
  }
  .sim-description {
    width: 400px;
  }
  .glyphicon-plus, .glyphicon-remove {
    cursor: pointer;
  }
  .glyphicon-plus {
    margin-top: 10px;
  }
}

.sim-modal {
  blockquote {
    font-size: 14px;
  }
  img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
}
