// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a, .glyphicon {
  cursor: pointer;
}

// clearfix
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

// inputs have solid gray outline instead of blue
input:focus, textarea:focus {
  outline: none;
  border: 1px solid gray;
}
