body {
  margin-bottom: 25px;
}

a, .glyphicon {
  cursor: pointer;
}

.bullet {
  cursor: auto !important;
}

// inputs have solid gray outline instead of blue
input:focus, textarea:focus {
  outline: none;
  border-color: gray;
}

.alert {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 1px;
}
