<div class='page-header'>
  <h1>Change Password</h1>
</div>

<form name='changePasswordForm' ng-submit='vm.submit(changePasswordForm.$valid)' novalidate>
  <!-- PASSWORD -->
  <div class='form-group'>
    <label>Enter New Password</label>
    <input
      name='password'
      type='password'
      class='form-control'
      ng-model='vm.user.password'
      required>
    <div ng-messages='changePasswordForm.password.$error' ng-show='vm.submitAttempted'>
      <p ng-message='required' class='text-warning'>A password is required.</p>
    </div>
  </div>

  <!-- PASSWORD CONFIRMATION -->
  <div class='form-group'>
    <label>Confirm New Password</label>
    <input
      name='passwordConfirmation'
      type='password'
      class='form-control'
      ng-model='vm.user.passwordConfirmation'
      required
      confirm-password='vm.user.password'>
    <div ng-messages='changePasswordForm.passwordConfirmation.$error' ng-show='vm.submitAttempted'>
      <p ng-message='required' class='text-warning'>A password confirmation is required.</p>
      <p ng-message='passwordsMatch' class='text-warning'>Passwords don't match.</p>
    </div>
  </div>

  <!-- SUBMIT BUTTON -->
  <button
    type='submit'
    class='btn btn-default'>
    Update
  </button>
</form>
