<div class='page-header'>
  <h1>Settings</h1>
</div>

<form name='settingsForm' ng-submit='vm.submit(settingsForm.$valid)' novalidate>
  <!-- USERNAME -->
  <div class='form-group'>
    <label>Username</label>
    <input
      name='username'
      type='text'
      class='form-control'
      ng-model='vm.user.username'
      required>
    <div ng-messages='settingsForm.username.$error' ng-show='vm.submitAttempted'>
      <p ng-message='required' class='text-warning'>A username is required.</p>
    </div>
  </div>

  <!-- SUBMIT BUTTON -->
  <button
    type='submit'
    class='btn btn-default'>
    Update
  </button>
</form>


<!-- CHANGE PASSWORD -->
<hr />
<a
  class='btn btn-link'
  ui-sref='change-password({ id: vm.user._id })'>
  Change Password
</a>
<!-- DELETE ACCOUNT -->
<button
  class='btn btn-danger'
  ng-click='vm.delete()'>
  Delete Account
</button>
