<div class='new-tango-template'>

<uib-alert ng-if='vm.alert' type='danger' close='vm.closeAlert()'>
  {{ vm.alert }}
</uib-alert>
<uib-alert ng-if='vm.updateSuccess' type='success' close='vm.closeUpdateSuccess()' dismiss-on-timeout='2000'>
  Successfully updated Tango!
</uib-alert>

<div class='sims'>
  <p>
    <strong>Sims</strong>
    <span
      class='glyphicon glyphicon-question-sign'
      ng-click='vm.openSimModal()'>
    </span>
  </p>
  <div class='sim' ng-repeat='sim in vm.tango.sims track by $index'>
    <label>Name: </label>
    <input
      type='text'
      class='sim-name'
      ng-model='sim.name'
      maxlength='5'>
    <label>Description: </label>
    <input
      type='text'
      class='sim-description'
      ng-model='sim.description'
      maxlength='140'>
    <span
      class='glyphicon glyphicon-remove'
      ng-click='vm.removeSim(sim)'>
    </span>
  </div>
  <span
    class='glyphicon glyphicon-plus'
    ng-click='vm.newSim()'>
  </span>
</div>

<div class='page-header'>
  <input type='text' ng-model='vm.tango.title'>
</div>

<statement
  ng-repeat='statement in vm.tango.statements track by $index'
  statement='statement'
  sims='vm.tango.sims'
  level='0'>
</statement>

<hr />

<button
  az-loading='Submitting...'
  on-click='vm.submit()'
  class='btn btn-primary'
  ng-hide='vm.unauthorized'>
  {{ vm.submitText }}
</button>

</div>
