body {
  margin-bottom: 25px; }

a, .glyphicon {
  cursor: pointer; }

.bullet {
  cursor: auto !important; }

input:focus, textarea:focus {
  outline: none;
  border-color: gray; }

.alert {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 1px; }

.sims {
  border: 1px solid lightGray;
  padding: 5px;
  width: 600px; }
  .sims label {
    font-weight: normal; }
  .sims input {
    margin-bottom: 5px;
    padding: 4px 8px;
    border: 1px solid gray; }
  .sims .sim-name {
    width: 5em;
    margin-right: 5px; }
  .sims .sim-description {
    width: 350px; }
  .sims .glyphicon-plus, .sims .glyphicon-remove {
    cursor: pointer; }
  .sims .glyphicon-plus {
    margin-top: 10px; }

.sim-modal blockquote {
  font-size: 14px; }

.sim-modal img {
  width: 60%;
  display: block;
  margin: 0 auto; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  min-width: 970px !important; }

.clear:before,
.clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

body.az-loading * {
  cursor: wait !important; }

button.az-loading {
  cursor: wait;
  background-color: lightGray; }

.az-lightbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.home-template h1 {
  margin-bottom: 20px; }

.home-template img {
  border: 1px solid lightGray; }

.home-template img, .home-template iframe {
  width: 100%; }

.home-template .content h3 {
  margin-top: 0; }

.home-template .content blockquote {
  font-size: 14px;
  margin: 10px 0; }

.home-template .content ul {
  margin-bottom: 50px;
  list-style-type: circle; }
  .home-template .content ul li {
    font-size: 18px; }
    .home-template .content ul li .embed-responsive {
      margin-top: 20px;
      margin-bottom: 20px; }

.new-tango-template .top .sims {
  float: left; }

.new-tango-template .top .commands {
  float: right;
  border: 1px solid lightGray;
  padding: 10px; }
  .new-tango-template .top .commands ul {
    padding-left: 25px; }
    .new-tango-template .top .commands ul li {
      padding: 2px 0; }
      .new-tango-template .top .commands ul li span {
        color: gray; }

.new-tango-template .page-header input {
  font-size: 36px;
  font-weight: 500;
  padding-left: 15px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #F1F1F1; }

.new-tango-template .page-header input:focus {
  border: 1px solid gray; }

.strawman::before {
  content: '\e600'; }

.false-cause::before {
  content: '\e601'; }

.appeal-to-emotion::before {
  content: '\e602'; }

.the-fallacy-fallacy::before {
  content: '\e603'; }

.slippery-slope::before {
  content: '\e604'; }

.ad-hominem::before {
  content: '\e605';
  left: 1px; }

.tu-quoquo::before {
  content: '\e606';
  right: 4px; }

.personal-incredulity::before {
  content: '\e607';
  left: 4px; }

.special-pleading::before {
  content: '\e608'; }

.loaded-question::before {
  content: '\e609'; }

.burden-of-proof::before {
  content: '\e614'; }

.ambiguity::before {
  content: '\e615'; }

.the-gamblers-fallacy::before {
  content: '\e616'; }

.bandwagon::before {
  content: '\e617'; }

.appeal-to-authority::before {
  content: '\e60a'; }

.composition-division::before {
  content: '\e60b'; }

.no-true-scotsman::before {
  content: '\e60c';
  right: 1px; }

.genetic::before {
  content: '\e60d'; }

.black-or-white::before {
  content: '\e60e'; }

.begging-the-question::before {
  content: '\e60f'; }

.appeal-to-nature::before {
  content: '\e610';
  right: 2px; }

.anecdotal::before {
  content: '\e611';
  left: 1px; }

.the-texas-sharpshooter::before {
  content: '\e612'; }

.middle-ground::before {
  content: '\e613'; }

@font-face {
  .statement-directive-template {
    font-family: 'YLF';
    src: url("YLF.ttf"); } }

.statement-directive-template .reaction {
  font-family: 'YLF'; }

.statement-directive-template .statement {
  margin-bottom: 20px; }
  .statement-directive-template .statement .left-icons {
    display: inline-block;
    text-align: right;
    width: 110px;
    line-height: 100%;
    vertical-align: top; }
    .statement-directive-template .statement .left-icons img, .statement-directive-template .statement .left-icons .author {
      margin-right: 5px;
      vertical-align: top;
      line-height: 100%; }
    .statement-directive-template .statement .left-icons img {
      height: 15px;
      position: relative;
      top: 15px;
      cursor: pointer; }
    .statement-directive-template .statement .left-icons .author {
      border: 1px solid gray;
      border-radius: 25px;
      padding: 5px;
      position: relative;
      top: 9px;
      word-wrap: break-word;
      cursor: pointer;
      text-align: center;
      width: 77px;
      display: inline-block; }
  .statement-directive-template .statement textarea {
    font-size: 18px;
    width: 700px;
    line-height: 135%;
    padding: 8px 16px;
    resize: none;
    border: 1px solid #F1F1F1;
    overflow: hidden;
    vertical-align: bottom; }
  .statement-directive-template .statement textarea:focus {
    outline: none;
    border: 1px solid gray;
    overflow: auto; }
  .statement-directive-template .statement .menu-container {
    min-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px; }
    .statement-directive-template .statement .menu-container .menu {
      margin-top: 5px;
      width: 810px;
      position: relative;
      right: 5px;
      margin: 0; }
      .statement-directive-template .statement .menu-container .menu span {
        float: right;
        margin-left: 15px;
        cursor: pointer; }
      .statement-directive-template .statement .menu-container .menu .react {
        position: relative;
        top: 2px;
        right: 2px; }
        .statement-directive-template .statement .menu-container .menu .react:focus {
          outline: none; }
      .statement-directive-template .statement .menu-container .menu .tu-quoquo {
        right: 0;
        left: 1px; }
      .statement-directive-template .statement .menu-container .menu #reactions-template {
        width: 240px; }
        .statement-directive-template .statement .menu-container .menu #reactions-template .reactions span.reaction {
          margin-left: 0;
          padding: 9px;
          width: 30px;
          display: inline-block;
          text-align: center; }
          .statement-directive-template .statement .menu-container .menu #reactions-template .reactions span.reaction::before {
            position: relative; }
        .statement-directive-template .statement .menu-container .menu #reactions-template .explanations {
          margin-top: 10px;
          border-top: 1px solid lightgray;
          padding-top: 10px;
          font-size: 10px;
          height: 77px; }
          .statement-directive-template .statement .menu-container .menu #reactions-template .explanations span.label {
            margin-left: 5px;
            float: none;
            vertical-align: middle; }

.statement-directive-template .level-0 {
  position: relative;
  left: 0px; }

.statement-directive-template .level-1 {
  position: relative;
  left: 65px; }

.statement-directive-template .level-2 {
  position: relative;
  left: 130px; }

.statement-directive-template .level-3 {
  position: relative;
  left: 195px; }

.statement-directive-template .level-4 {
  position: relative;
  left: 260px; }

.statement-directive-template .level-5 {
  position: relative;
  left: 325px; }

.statement-directive-template .level-6 {
  position: relative;
  left: 390px; }

.statement-directive-template .level-7 {
  position: relative;
  left: 455px; }

.statement-directive-template .level-8 {
  position: relative;
  left: 520px; }

.statement-directive-template .level-9 {
  position: relative;
  left: 585px; }

.statement-directive-template .level-10 {
  position: relative;
  left: 650px; }

.my-tangos-template table {
  width: 700px; }
  .my-tangos-template table input[type='checkbox'] {
    cursor: pointer; }
