html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a, .glyphicon {
  cursor: pointer; }

.bullet {
  cursor: auto !important; }

input:focus, textarea:focus {
  outline: none;
  border: 1px solid gray; }

.alert {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 1px; }

.clear:before,
.clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.new-tango-template .page-header h1 {
  cursor: pointer;
  display: inline-block; }

.new-tango-template .page-header input {
  font-size: 36px;
  font-weight: 500;
  padding-left: 15px; }

.new-tango-template .page-header input:focus {
  outline: none;
  border: 1px solid gray; }

.new-tango-template .sims {
  border: 1px solid lightGray;
  padding: 5px;
  width: 650px; }
  .new-tango-template .sims label {
    font-weight: normal; }
  .new-tango-template .sims input {
    margin-bottom: 5px;
    padding: 4px 8px;
    border: 1px solid gray; }
  .new-tango-template .sims .sim-name {
    width: 5em;
    margin-right: 5px; }
  .new-tango-template .sims .sim-description {
    width: 400px; }
  .new-tango-template .sims .glyphicon-plus, .new-tango-template .sims .glyphicon-remove {
    cursor: pointer; }
  .new-tango-template .sims .glyphicon-plus {
    margin-top: 10px; }

.statement-directive-template .statement {
  margin-bottom: 20px; }
  .statement-directive-template .statement .left-icons {
    display: inline-block;
    text-align: right;
    width: 110px;
    line-height: 100%;
    vertical-align: top; }
    .statement-directive-template .statement .left-icons img, .statement-directive-template .statement .left-icons .author {
      margin-right: 5px;
      vertical-align: top;
      line-height: 100%; }
    .statement-directive-template .statement .left-icons img {
      height: 15px;
      position: relative;
      top: 15px;
      cursor: pointer; }
    .statement-directive-template .statement .left-icons .author {
      border: 1px solid gray;
      border-radius: 25px;
      padding: 5px;
      position: relative;
      top: 15px;
      word-wrap: break-word;
      cursor: pointer; }
  .statement-directive-template .statement textarea {
    font-size: 18px;
    width: 700px;
    line-height: 135%;
    padding: 8px 16px;
    resize: none;
    border: 1px solid #F1F1F1;
    overflow: hidden;
    vertical-align: bottom; }
  .statement-directive-template .statement textarea:focus {
    outline: none;
    border: 1px solid gray;
    overflow: auto; }
  .statement-directive-template .statement .menu-container {
    min-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px; }
    .statement-directive-template .statement .menu-container .menu {
      margin-top: 5px;
      width: 810px;
      position: relative;
      right: 5px;
      margin: 0; }
      .statement-directive-template .statement .menu-container .menu span {
        float: right;
        margin-left: 15px;
        cursor: pointer; }

.statement-directive-template .level-0 {
  position: relative;
  left: 0px; }

.statement-directive-template .level-1 {
  position: relative;
  left: 65px; }

.statement-directive-template .level-2 {
  position: relative;
  left: 130px; }

.statement-directive-template .level-3 {
  position: relative;
  left: 195px; }

.statement-directive-template .level-4 {
  position: relative;
  left: 260px; }

.statement-directive-template .level-5 {
  position: relative;
  left: 325px; }

.statement-directive-template .level-6 {
  position: relative;
  left: 390px; }

.statement-directive-template .level-7 {
  position: relative;
  left: 455px; }

.statement-directive-template .level-8 {
  position: relative;
  left: 520px; }

.statement-directive-template .level-9 {
  position: relative;
  left: 585px; }

.statement-directive-template .level-10 {
  position: relative;
  left: 650px; }
