<div class='page-header'>
  <h1>Admin</h1>
</div>

<table class='table'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Tangos</th>
      <th>Settings</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='user in vm.users'>
      <td>{{ user.local.username }}</td>
      <td><a ui-sref='my-tangos({ id: user._id })'>Tangos</a></td>
      <td><a ui-sref='settings({ id: user._id })'>Settings</a></td>
      <td><a ng-click='vm.delete(user._id)'><span class='glyphicon glyphicon-trash'></span></a></td>
    </tr>
  </tbody>
</table>
