.strawman::before {
  content: '\e600';
}

.false-cause::before {
  content: '\e601';
}

.appeal-to-emotion::before {
  content: '\e602';
}

.the-fallacy-fallacy::before {
  content: '\e603';
}

.slippery-slope::before {
  content: '\e604';
}

.ad-hominem::before {
  content: '\e605';
  left: 1px;
}

.tu-quoquo::before {
  content: '\e606';
  right: 4px;
}

.personal-incredulity::before {
  content: '\e607';
  left: 4px;
}

.special-pleading::before {
  content: '\e608';
}

.loaded-question::before {
  content: '\e609';
}

.burden-of-proof::before {
  content: '\e614';
}

.ambiguity::before {
  content: '\e615';
}

.the-gamblers-fallacy::before {
  content: '\e616';
}

.bandwagon::before {
  content: '\e617';
}

.appeal-to-authority::before {
  content: '\e60a';
}

.composition-division::before {
  content: '\e60b';
}

.no-true-scotsman::before {
  content: '\e60c';
  right: 1px;
}

.genetic::before {
  content: '\e60d';
}

.black-or-white::before {
  content: '\e60e';
}

.begging-the-question::before {
  content: '\e60f';
}

.appeal-to-nature::before {
  content: '\e610';
  right: 2px;
}

.anecdotal::before {
  content: '\e611';
  left: 1px;
}

.the-texas-sharpshooter::before {
  content: '\e612';
}

.middle-ground::before {
  content: '\e613';
}
