.statement-directive-template {
  @font-face {
    font-family: 'YLF';
    src: url('YLF.ttf');
  }

  .reaction {
    font-family: 'YLF';
  }

  .statement {
    margin-bottom: 20px;

    .left-icons {
      display: inline-block;
      text-align: right;
      width: 110px;
      line-height: 100%;
      vertical-align: top;

      img, .author {
        margin-right: 5px;
        vertical-align: top;
        line-height: 100%;
      }

      img {
        height: 15px;
        position: relative;
        top: 15px;
        cursor: pointer;
      }

      .author {
        border: 1px solid gray;
        border-radius: 25px;
        padding: 5px;
        position: relative;
        top: 9px;
        word-wrap: break-word;
        cursor: pointer;
        text-align: center;
        width: 77px;
        display: inline-block;
      }
    }

    textarea {
      font-size: 18px;
      width: 700px;
      line-height: 135%;
      padding: 8px 16px;
      resize: none;
      border: 1px solid #F1F1F1;
      overflow: hidden;
      vertical-align: bottom;
    }

    textarea:focus {
      outline: none;
      border: 1px solid gray;
      overflow: auto; // only have scroll bar when focused
    }

    .menu-container {
      min-height: 20px;
      margin-top: 5px;
      margin-bottom: 10px;

      .menu {
        margin-top: 5px;
        width: 810px;
        position: relative;
        right: 5px;
        margin: 0;

        span {
          float: right;
          margin-left: 15px;
          cursor: pointer;
        }

        .react {
          position: relative;
          top: 2px;
          right: 2px;

          &:focus {
            outline: none;
          }
        }

        .tu-quoquo {
          right: 0;
          left: 1px;
        }

        #reactions-template {
          width: 240px;

          .reactions {
            span.reaction {
              margin-left: 0;
              padding: 9px; // sorta hacky. figure out how to get spacing right for an arbitrary number of reactions.
              width: 30px;
              display: inline-block;
              text-align: center;

              &::before {
                position: relative;
              }
            }
          }

          .explanations {
            margin-top: 10px;
            border-top: 1px solid lightgray;
            padding-top: 10px;
            font-size: 10px;
            height: 77px;

            span.label {
              margin-left: 5px;
              float: none;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  @for $i from 0 through 10 {
    .level-#{$i} {
      position: relative;
      left: #{$i*65}px;
    }
  }
}
