<div class='statement-directive-template'>

<div class='statement level-{{ vm.level }}' ng-keydown='vm.shortCut($event)'>
  <!-- LEFT ICONS -->
  <span class='left-icons'>
    <img
      src='/assets/images/hide-arrow.png'
      ng-click='vm.hideChildren()'
      ng-show='vm.statement.children.length > 0
               && !vm.statement.childrenHidden'>
    <img
      src='/assets/images/show-arrow.png'
      ng-click='vm.showChildren()'
      ng-show='vm.statement.children.length > 0
               && vm.statement.childrenHidden'>
    <span
      class='author'
      ng-click='vm.changeSim()'>
      {{ vm.sim.name }}
    </span> <!-- 5 char limit -->
  </span>

  <!-- TEXTAREA -->
  <textarea
    ng-model='vm.statement.text'
    ng-focus='vm.statement.focus = true;'
    ng-blur='vm.statement.focus = false;'
    rows='1'
    tabby></textarea>

  <!-- MENU RIGHT -->
  <div class='menu-container'>
    <p class='menu clear'>
      <span
        class='fa fa-smile-o react'
        uib-popover-template='vm.popoverTemplate'
        popover-is-open='true'
        popover-trigger='focus'
        tabindex='-1'>
      </span>

      <span class='bullet' ng-show='vm.statement.reactions.length > 0'> &bull; </span>

      <span
        ng-repeat='reaction in vm.statement.reactions'
        ng-mousedown='vm.removeReaction(reaction, $event)'
        class='react reaction {{ reaction.class }}'
        uib-tooltip='{{ reaction }}'
        tooltip-placement='bottom'>
      </span>
    </p>
  </div>
</div>

</div>

<!-- CHILDREN STATEMENTS -->
<statement
  ng-hide='vm.statement.childrenHidden'
  ng-repeat='substatement in vm.statement.children track by $index'
  statement='substatement'
  sims='vm.sims'
  currSim='{{ vm.currSim }}'
  level='{{ +vm.level + 1 }}'>
</statement>
